*, *::before, *::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-size: 15px;
    line-height: 1.5;
    font-family: "Alata", sans-serif;
    font-weight: 400;
    font-style: normal;
}

h1, h2, h3 {
    margin: 0;
    font-family: "Josefin Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    line-height: 1.1;
    text-transform: uppercase;
}

p {
    line-height: 1.6;
    margin: 0;
}

a, a:hover {
    text-decoration: none;
}

ul {
    margin: 0;
    padding: 0;
}

figure {
    margin: 0;
    padding: 0;
}
img {
    display: block;
}